<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- Главная страница по умолчанию -->
    <defaultDocument enabled="true">
      <files>
        <clear />
        <add value="index.html" />
      </files>
    </defaultDocument>
    <!-- Несуществующие страницы показывают 404.html (статус остаётся 404) -->
    <httpErrors errorMode="Custom" existingResponse="Replace">
      <remove statusCode="404" />
      <error statusCode="404" path="/404.html" responseMode="ExecuteURL" />
    </httpErrors>
  </system.webServer>
</configuration>
